.menu {
  min-width: 400px;
}

p {
  width: auto;
}

.rgb-input > input {
  width: 4rem;
  height: 4rem;
  text-align: center;
}

#color-r {
  border: 2px solid red;
}

#color-g {
  border: 2px solid green;
}

#color-b {
  border: 2px solid blue;
}
